<footer class="site-footer h-card">
  <p class="site-footer-copyright"><a href="/">&copy; Free Open Source Software Interest League</a>, 2014 - {{ site.time | date: "%Y" }}</p>
  <div class="site-footer-link">
    <a href="https://github.com/fossildev" target="_blank" rel="noopener">GitHub</a>
    <a href="https://www.instagram.com/fossilamikom/" target="_blank" rel="noopener">Instagram</a>
    <a href="https://github.com/fossildev/www/blob/revamp/LICENSE" target="_blank" rel="noopener">LICENSE</a>
  </div>
</footer>