.btn-hero-foss {
    background: #e05e26;
    background: #e05e26;
    background: #e05e26;

    -webkit-box-shadow: #e05e26;
    -moz-box-shadow: #e05e26;
    box-shadow: #e05e26;

    margin-top: 15px;
    padding: 15px 20px 15px 20px;
    color: white;
    align-self: flex-start;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

    &:hover {
        background:  #E05E26;
        background:  #E05E26;
        background:  #E05E26;
       
      }
}


.btn-event-float {
    @extend .btn-hero-foss;
    align-self: center;
    cursor: pointer;
}
.float {
    position: fixed;
    bottom: 0;
    width: inherit;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}
  